
<h2 class="form-signin-heading">Create New Admin</h2>

<%= form_for(resource, :as => resource_name, :url => '/admins/add') do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email', :style => 'margin-top: 5px;' %>

  <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', :style => 'margin-top: 5px;' %>

  <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Verify Password', :style => 'margin-top: 5px;' %>

  <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
<% end %>

