    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Your Journey History
        </div>
        <div class="panel-body">

        <% if @journeys.count() == 0 %>
          <p class="lead">You don't currently have any journeys. Click <a href="/">here</a> to search for one.</p>
        <% else %>
        <p class="lead">These are all the journeys that you've searched for. Click <a href="/">here</a> to check out another option.</p>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @journeys.each do |j| %>
              <tr>
                <td><%= j.origin %>
                <td><%= j.destination %>
                <td><%= j.date %>
                <td><%= distance_of_time_in_words(j.created_at, Time.now) %> ago
                <td>
                <%= link_to '✖︎', j,
                    :method=>:delete, :class=>:destroy %>
                    <%= link_to '➜', journey_path(j) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
        <div class="panel-footer">
          <p class="text-muted">Journey data is not updated automatically, to get the latest data please query the journey again from the homepage.</p>
        </div>
      </div>
    </div>