<a href="https://github.com/charlieegan3/travel-turbine"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<div class="container">
        <div class="header">
        <ul class="nav nav-pills pull-right">
        <% if current_user.nil? and current_admin.nil? %>    <!-- if curren_user.nil? -->
          <li><a href="/users/sign_up" class="topbar_link">Sign Up!</a></li>
          <li><a href="/users/sign_in" class="topbar_link">Log in!</a></li>
        <% elsif current_user %>
        <li>You are signed in as: <br /> <strong> <a href="/journeys"><%= current_user.email %></a> </strong> </li>
          <li><a href="/users/sign_out" class="topbar_link">Log out!</a></li>
        <% else %>
          <li>You are signed in as: <br /> <strong> <%= current_admin.email %> [ADMIN] </strong> </li>
          <li><a href="/admins/add_admin" class="topbar_link">Create new admin</a><li>
          <li><a href="/admins/sign_out" class="topbar_link">Log out</a><li>
        <% end %>
        <li><a href="/about" class="topbar_link">About</a><li>
      </ul>
      </div>

      <div class="jumbotron">
        <div style class="alert alert-dismissable visible-xs alert-warning">
          <b>Warning! </b>We've noticed you're using a mobile phone, if we had an app on the app store we'd have a link here!
        </div>
        <h1>Travel Turbine</h1>
        <p class="lead">Select your search criteria below and we'll do the rest.</p>
              <a id="swapbutton" class="btn btn-default btm-sm" style="width:30px; padding: 0px;">⇄<br></a>
        <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-2">
            <select id="originselect" dir="rtl" class="form-control journeyselect">
              <% @locations.each do |l|%>
              <option><%= l.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-2">
            <p>traveling to<br></p>
          </div>
          <div class="col-md-2">
            <select id="destinationselect" class="form-control journeyselect destination">
              <% @locations.each do |l|%>
              <option><%= l.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <input id="datepicker" type="text" class="form-control" placeholder="Date" style="text-align: center;" data-behaviour='datepicker'>
			<script type="text/javascript">
			  $(document).ready(function(){
			    $('[data-behaviour~=datepicker]').datepicker({
			    format: "dd/mm/yy",
			    todayBtn: "linked",
          startDate: "+0d",
          endDate: "+80d",
			    autoclose: true
				});
			  })
			</script>
            <a id="searchbutton" class="btn btn-primary btn-sm" style="margin-top: 5px;"><%= @search_verb %></a>
          </div>
          <div class="col-md-5"></div>
        </div>
        <div id="error" class="alert alert-dismissable alert-danger"></div>
        <p></p>
        <div id="results">
        <!-- results go here! -->
        </div>
        <br/><br/><br/><br/>
        <div class="footer">
        <p style="font-size: xx-small;">Dylan Hanning &amp; Charlie Egan 2013</p>
      </div>
      </div>
    </div>

<script type="text/javascript">
	$( "#error" ).hide();
	$("#searchbutton").click(function() {
		var origin = document.getElementById("originselect").value;
		var destination = document.getElementById("destinationselect").value;
		var date = document.getElementById("datepicker").value;
		date = date.replace(/\//, '');
		date = date.replace(/\//, ''); //no idea why it's not like ruby in this instance, i'm really too tired of this to work out why

		if (origin == destination)
  		{
  			$( "#error" ).show();
  			$("#error").html("Take a quick look, you might be about to waste some money, that, or you like going round in circles, either way, we can't allow it.");
  		}
  		else if (date.length < 6)
  		{
  			$( "#error" ).show();
  			$("#error").html("You might be dreading the journey but you've got to go sometime! Pick a date and try again.");
  		}
		else
  		{
  			$( "#error" ).hide();
  			$("#results").html('<p style="font-size: x-small;">Queries can take up to 15 seconds to complete, please be patient!</p><img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif">')
  			var query = "journey/new?origin="+origin+"&destination="+destination+"&date="+date
  		}
      if ($("#results").load(query)) {
          $("html, body").animate({ scrollTop: $('#results').offset().top }, 1000);
			 }
      else {
        $( "#error" ).show();
        $("#error").html("Error parsing request. The developer responsible has been fired.");
      }
		})
    $("#swapbutton").click(function() {
        $( "#originselect" ).toggleClass( "destination");
        $( "#destinationselect" ).toggleClass( "destination");
        var temp = document.getElementById("originselect").value;
        document.getElementById("originselect").value = document.getElementById("destinationselect").value;
        document.getElementById("destinationselect").value = temp;
    })
</script>


