<h3>train</h3>
<%= @train_results %><br/>
<%= @train_best %><br/>
<%= @train_url %><br/>
<h3>bus</h3>
<%= @bus_results %><br/>
<%= @bus_best %><br/>
<%= @bus_url %><br/>
<h3>plane</h3>
<%= @plane_results %><br/>
<%= @plane_best %><br/>
<%= @plane_url %><br/>
<hr>
<%= @ranked %>