<h1> Your new journey </h1>

<%= @journey.origin %><br/>
<%= @journey.destination %><br/>
<%= @journey.date %><br/>
<%= @journey.train_result %><br/><br/>
<%= @journey.bus_result %><br/><br/>
<%= @journey.plane_result %><br/>

<br/><br/>
--other--<br/>
<%= @train_result %><br/>
